* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===== Reset end ===== */
/* ===== Style1.css ===== */
.container {
  max-width: 1050px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.header {
  flex-basis: 45%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  position: relative;
  background-image: url(../img/m-h-day.jpg);
  border-radius: 0px 0px 440px 0px / 0px 0px 225px 0px;
}

.section {
  flex-basis: 45%;
}

.footer {
  flex-basis: 10%;
}

.landing-logo {
  display: flex;
  padding-top: 20px;
}
.landing-logo p {
  display: inline;
  margin-left: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.landing-logo span {
  font-size: 8px;
  display: block;
  text-align: center;
}

.header_heading {
  position: relative;
  margin-top: 35px;
  width: 30%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 45px;
  font-weight: 700;
  z-index: 1;
  padding-bottom: 35px;
}
.header_heading::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 40px;
  width: 190px;
  height: 15px;
  background-color: #14a0c7;
  z-index: -1;
}

.header-wrap .header_text {
  width: 60%;
  line-height: 1.7;
  font-family: "Hind", sans-serif;
  padding-bottom: 35px;
  font-size: 14px;
}
.header-wrap .header_button {
  padding: 5px 35px 5px 35px;
  background-color: #699900;
  color: white;
  font-weight: normal;
  font-size: 16px;
  border: none;
  outline: none;
  font-family: "Hind", sans-serif;
  margin-bottom: 155px;
  cursor: pointer;
  border-radius: 5px;
}
.header-wrap .header_button:hover {
  background-color: #14a0c7;
  transition: 0.5s ease-in-out all;
}

.container .section_text {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-top: 30px;
  padding-bottom: 35px;
  position: relative;
  z-index: 1;
}
.container .section_text:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 145px;
  height: 10px;
  bottom: 40px;
  right: 35%;
  background-color: #14a0c7;
}

.section_card_wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.section_card_wrap .section_card {
  flex-basis: 33.3%;
  padding: 15px;
  background-color: #21232e;
  color: white;
  margin-right: 15px;
  border-radius: 5px;
}
.section_card_wrap .section_card:last-of-type {
  margin-right: 0;
}
.section_card_wrap .section_card .section_card_img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
.section_card_wrap .section_card .section_card_heading {
  text-align: center;
  margin-top: 10px;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  z-index: 1;
}
.section_card_wrap .section_card .section_card_text {
  margin-top: 10px;
  font-family: "Hind", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  opacity: 0.8;
}

.line_1:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 142px;
  height: 10px;
  top: 15px;
  right: 26%;
  background-color: #14a0c7;
}

.line_2:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 123px;
  height: 10px;
  top: 15px;
  right: 29%;
  background-color: #14a0c7;
}

.line_3:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 94px;
  height: 10px;
  top: 15px;
  right: 34%;
  background-color: #14a0c7;
}

.section_banner_inner {
  position: relative;
}
.section_banner_inner .section_banner {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 80%;
  top: -50px;
  background: linear-gradient(to right, #66960c 0%, #538250 25%, #487777 50%, #3866b2 75%, #305ecf 100%);
  margin-left: 10%;
  padding: 24px 35px 15px 35px;
  border-radius: 5px;
}
.section_banner_inner .section_banner .section_banner_text_wrap {
  position: relative;
  z-index: 1;
}
.section_banner_inner .section_banner .section_banner_text_wrap .section_banner_heading {
  font-size: 22px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 20px;
}
.section_banner_inner .section_banner .section_banner_text_wrap .section_banner_heading:before {
  content: '';
  position: absolute;
  width: 45px;
  height: 10px;
  left: 90px;
  top: 15px;
  background-color: #14a0c7;
  z-index: -1;
}
.section_banner_inner .section_banner .section_banner_text_wrap .section_banner_text {
  color: white;
  font-size: 12px;
  font-family: "Hind", sans-serif;
  opacity: 0.8;
}
.section_banner_inner .section_banner .button_box .section_banner_button {
  padding: 5px 35px;
  background-color: #699900;
  color: white;
  font-family: "Hind", sans-serif;
  font-size: 16px;
  font-weight: normal;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}
.section_banner_inner .section_banner .button_box .section_banner_button:hover {
  background-color: #14a0c7;
  transition: 0.5s ease-in-out all;
}

.footer {
  background-color: #21232e;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  padding: 110px 0px 30px 0px;
}
.footer-wrap .footer_logo {
  flex-basis: 33.3%;
}
.footer-wrap .footer_logo p {
  color: white;
  opacity: 0.8;
}
.footer-wrap .footer_text_inner {
  flex-basis: 33.3%;
  padding-top: 10px;
}
.footer-wrap .footer_text_inner .footer_text {
  color: white;
  font-family: "Hind", sans-serif;
  font-size: 10px;
  text-align: left;
  width: 70%;
  opacity: 0.8;
}
.footer-wrap .footer-cr-inner {
  flex-basis: 33.3%;
  text-align: right;
  padding-top: 20px;
}
.footer-wrap .footer-cr-inner .footer-cr {
  color: white;
  font-family: "Hind", sans-serif;
  font-size: 12px;
  opacity: 0.8;
}

/* ===== Style2.css ===== */

/*# sourceMappingURL=style2.css.map */
