/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */

 /* ===== Reset start ===== */
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}
 
/* HTML5 display-role reset for older browsers */
 
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
 
ol, ul {
  list-style: none;
}
 
blockquote, q {
  quotes: none;
}
 
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
 
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ===== Reset end ===== */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0b192f;
  font-size: 14px;
}

header{
	background: #162b4d;
}

.container{
	max-width: 1395px;
	width: 90%;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;	
}

.header-content-wrapper{
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

header nav a{
	color: #fff;
	font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    padding: 32px;
    border-radius: 2px;
    transition: 0.3s all ease-out;
}

header nav a:hover{
	background-color: #b8b8b8;
	color: #fff;
}

header nav a:last-child{
	margin-right: 0;
}

header .menuToggle{
	display: none;
}

.logo p{
	font-size: 32px;
	font-weight: 200;
	color: white;
}

.logo p:hover{
	color: #B71757;
}

.logo p span{	
	color: #B71757;
}

.logo p span:hover{	
	color: #fff;
}

@media (max-width: 768px){	
	.header-content-wrapper{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;

	}

	.header-content-wrapper nav{
		display: none;
	}

	header .menuToggle{
		display: block;
		color: white;
		margin-bottom: 20px;
		cursor: pointer;
	}		
}

.page{
	padding: 20px 0;
}

.page-wrap-inner{
	display: flex;
	justify-content: space-between;
}

.left-blocks{
	flex-basis: 85%;
	display: flex;
	flex-wrap: wrap;
}

.right-blocks{
	flex-basis: 25%;
	margin-left: 20px;
}

.item-box-inner{
	display: flex;
	flex-direction: column;
}

.item-box-inner .text-description {
	line-height: 1.8;
}

.text-date{
	display: flex;
	justify-content: space-between;
}

.item-box{
	position: relative;
	flex-basis: 50%;
}

.box-item2 .item-box-inner .text-description{
	margin-right: 30%;
}

.box-item6 .item-box-inner .text-description{
	margin-right: 30%;
}

.box-item3 .item-box-inner .text-description{
	margin-left: 30%;
    text-align: right;
}

.box-item7 .item-box-inner .text-description{
	margin-left: 30%;
	text-align: right;
}

.item-block{
	display: flex;
	flex-direction: column;
}

.item-box .text-date .text{
	margin-bottom: 10px;
	cursor: pointer;
}

.item-box .text-date .text > h3{
	font-size: 52px;
	font-weight: 200;
	color: #fff;
}

.item-box .text-description{
	font-size: 14px;
    font-weight: 200;
    color: white;
    opacity: 0.5;
    line-height: 1.5;
}

.box-item2 .date{
	margin-left: 30px;
}

.box-item3 .date{
	margin-right: 90px;
}

.box-item3 .text-date .text h3{
	text-align: right;
}

.box-item7 .date {
    margin-right: 140px;
}

.box-item7 .text-date .text h3{
	text-align: right;
}


.left-blocks .item-box{
	position: relative;
}

.left-blocks .box-item2,
.box-item6{
	padding: 20px 10px 50px 25px;
}

.left-blocks .box-item3,
.box-item7{	
	padding: 20px 25px 50px 10px;
}

.left-blocks .box-item1,
.box-item4,
.box-item5,
.box-item8{
	cursor: pointer;
}

.left-blocks .box-item2{
	background-color: #B71757;
}

.left-blocks .box-item3{
	background-color: #0D7E71;
}

.left-blocks .box-item6{
	background-color: #b1660e;
}

.left-blocks .box-item7{
	background-color: #d12767;
}

.left-blocks .box-item1{
	background: url(../img/post1.jpg) no-repeat center;
	background-size: cover;
}

.left-blocks .box-item4{
	background: url(../img/post2.jpg) no-repeat center;
	background-size: cover;
}

.left-blocks .box-item5{
	background: url(../img/post3.jpg) no-repeat center;
	background-size: cover;
}

.left-blocks .box-item8{
	background: url(../img/post4.jpg) no-repeat center;
	background-size: cover;
}

.text-date .date span{
	color: white;
    font-size: 28px;
	font-weight: 200;
	opacity: 0.5;
}

.date > span.number{
	font-size: 48px;
	opacity: 0.5;
}

.box-item3 > div > div.text-description{
	text-align: right;
}

.item-box.box-item1:hover:before{
	content: '';
	cursor: pointer;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(183, 23, 87, 0.5);
}

.item-box.box-item4:hover:before{
	content: '';
	cursor: pointer;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(13, 126, 113, 0.5);
}

.item-box.box-item5:hover:before{
	content: '';
	cursor: pointer;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(177, 102, 14, 0.5);
}

.item-box.box-item8:hover:before{
	content: '';
	cursor: pointer;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(209, 39, 103, 0.5);
}

.bottom-block{
	position: relative;
	display: flex;	
	justify-content: space-between;
	color: white;
	background-color: #2d95bb;
	padding: 20px 10px 30px 30px;
}

.bottom-block .number{
	font-weight: 200;
}

.date span{
	color: white;
    font-size: 28px;
    font-weight: 200;
    opacity: 0.5;
}

.bottom-block-text h2{
	font-weight: 200;
	font-size: 42px;
	margin-bottom: 20px;
	cursor: pointer;
}

.bottom-block-text p{
	font-size: 12px;
    font-weight: 200;
	color: white;
	line-height: 1.8;
	width: 80%;
	opacity: 0.5;
}

.bottom-block .date{
	position: absolute;
	right: 10px;
	top: 0;
}

.date > span:nth-child(2){
	display: block;
}

.item-block .news{
	background-color: #fff;
	padding: 30px;
}

.item-block .news h4{
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 10px;
}

.item-block .news p{
	font-weight: 300;
	line-height: 1.8;
	opacity: 0.8;	
}

.right-blocks .first-block{
	margin-bottom: 20px;
}

.site-footer-inner{
	display: flex;
	justify-content: space-between;
	background-color: #162b4d;
	padding: 30px 20px;
	color: white;
	opacity: 0.5;
	font-weight: 200;
}

.site-footer-left-content{
	flex-basis: 90%;
}

.site-footer-right-content{
	flex-basis: 10%;
}

@media (max-width: 768px){
	

	.container{		
		width: 95%;
		padding-right: 0px;
		padding-left: 0px;
		margin-right: auto;
		margin-left: auto;		
	}

	.left-blocks{
		display: flex;
		flex-wrap: nowrap;
    	flex-basis: 60%;
    	flex-direction: column;		
	}

	.right-blocks{
		flex-basis: 40%;
	}

	.right-blocks{
		margin-left: 15px;
	}

	.right-blocks .news{
		padding: 20px;
	}

	.right-blocks .news h4{
		font-size: 26px;
	}

	.right-blocks .news p{
		font-size: 12px;
		line-height: 1.6;
	}

	.item-block .news h4 {
		margin-bottom: 0px;
	}

	.left-blocks .box-item2,
	.left-blocks .box-item3,
	.left-blocks .box-item6,
	.left-blocks .box-item7{
    	padding: 30px;
	}

	.box-item2 .item-box-inner .text-description,
	.box-item6 .item-box-inner .text-description{
    	margin-right: 0;
	}	

	.img-inner{
		padding-top: 100%;
    	display: block;
		height: 0;
	}

	.left-blocks .box-item2,
	.left-blocks .box-item3,
	.left-blocks .box-item6,
	.left-blocks .box-item7,
	.bottom-block{
		position: relative;
		padding-bottom: 115px;
	}

	.box-item3 .item-box-inner .text-description,
	.box-item7 .item-box-inner .text-description{
		margin-left: 0;
		text-align: left;
	}

	.box-item7 .date{
		margin-right: 0;
	}

	.bottom-block .date {
		right: 50%;
		top: 70%;
	}

	.date{
		position: absolute;
		bottom: 0;
		right: 50%;
		margin-left: 0px;
	}

	.box-item3 .date{
		margin-right: 0;
	}

	.box-item3 .text-date .text h3,
	.box-item7 .text-date .text h3{
		text-align: left;
	}


	.site-footer-inner{
		display: flex;
		flex-direction: column;
		opacity: 0.5;
	}

	.site-footer .site-footer-inner{
		padding: 20px 10px;
	}

	.site-footer-left-content{
		text-align: center;
		opacity: 0.5;
	}

	.site-footer .site-footer-right-content p{
		text-align: center;
		opacity: 0.5;
	}

}

@media (max-width: 480px){
	.page-wrap-inner{
		flex-direction: column;
	}

	.right-blocks{
		margin-left: 0;
	}

}