$fs_8: 8px;
$fs_10: 10px;
$fs_12: 12px;
$fs_13: 13px;
$fs_14: 14px;
$fs_16: 16px;
$fs_18: 18px;
$fs_22: 22px;
$fs_32: 32px;
$fs_45: 45px;

$ff_pro: 'Source Sans Pro', sans-serif;
$ff_hind: 'Hind', sans-serif;
$ff_fresca: 'Fresca', sans-serif;

$backgroundHeaderImage: url(../img/m-h-night.jpg);

$color_orange: #ff4e33;
$color_yellow: #e3ac00;
$lgh-blue: #14a0c7;
$bg_dark: #21232e;
$bg_lgh_dark: #3b3f50;